<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link rel="stylesheet" href="/stylesheets/landing.css">

    <title>YelpCamp</title>
</head>

<body>


<div class="container d-flex justify-content-center text-center align-items-center window-full">
    <div id="landing-header">
        <h1 class="mb-5 display-3"><strong>Welcome to YelpCamp!</strong></h1>
        <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<%- include ("partials/footer") %>